div.accordion{
 display: 'flexbox';
 background-color: lightgrey;
 font-size:14px;
 font-weight: normal;
}
.accordion__heading{
    padding: 4%;
}

.accordion__item1 {
    position: relative;
    padding: 2%;
    padding-left: 4%;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
}
.accordion__item2{
    position: relative;
    padding: 2%;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    border-top:0px;
    padding-left: 4%;
    margin-bottom: 5%;
}
.accordion__arrow {
    display: inline-block;
    width: 24px;
    height: 12px;
    position: absolute;
    top: 40px;
    right: 15px;
    margin-top: -6px;
}