.table_container{
    display: flex;                    /* 1 */
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

tr{
    display: flex;
    direction:row;
}
p{
    width:4%
    
}

tr>td>input{
    width:97%
}
.hi{
    border-radius:0;
    border-style: line;
    border: transparent;
    background-color: transparent;
    text-align: center;

}
table{
    width: 100%;
    left: 0;
    top: 0;
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid #5b5c5e;
    background-color:  #E5e1e6;
    margin-bottom: 3%;
  }

tr.heading{
    border-bottom: 1px solid #5b5c5e;
}

tr.heading1>td:first-child{
    width: 20%;
    font-size: 12px;
}

tr.heading1>td{
    font-size: 12px;
    text-align: center;
    width: 40%;
    border-bottom: 1px solid #5b5c5e;
}

tr.heading>td{
    font-size: 14px;
    text-align: center;
    width: 50%;
}

table.prevalence{
    margin-right: 1em;
}


tr>td.counter{
    width: 20%;
    text-align: center;
    font-size: 13px;
}

tr:not(:last-child)>td{
    border-bottom: 1px solid #5b5c5e;
}

tr>td{
    width:40%   
}

tr>td:not(:last-child){
    border-right: 1px solid #5b5c5e;
}


tbody.table2>tr>td{
    width: 50%
}

