
.dropdown{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color:lightgrey;
    padding:2%;
    min-height: 170px;
    max-height: 170px;
    min-width: 200px;
    max-width: 200px;
    padding-bottom:2%;
}

div.input_group{
  display: block;
  height: 50px
}
.param-button{
    display: flex;
    text-align: left;
    font-family: Arial, sans-serif;
    background-color:#D7D2CB;
    max-height: 50%;
    width: 100%;
    color: #861F41;
    border-style: none;
    padding: 0px;
  }

button.estimate_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    background-color:#861F41;
    text-align: center;
    height: 35px;
    width: 110px;
    color: #FFFFFF;
    border-radius: 4px;
    border-color: #75787B;
    margin: 0px !important;
}
svg{
    padding-left: 7px;
    padding-right: 0px;
    float: right;
}
.text_boxes{
    text-align: left;
    color: #861F41;
    font-size: 16px;
    background-color: rgb(211,211,211, 0);
}

.ParamBody {
    margin-top:10px;
    display: flex;
    flex-direction: row;
    min-height: 600px;
    align-items: top;
    font-size: calc(10px + 2vmin);
    color: #861F41;
    font-family: Arial, sans-serif;
  }

  .css-5itiqr-BaseToolTop {
    min-width: 200px;
    white-space: normal;
  }
  
  select{
    margin-top:3px
  }

  .App-body{
    margin-top: 0px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  label{
    font-size: 18px;
    margin-left: 4%;
    margin-bottom: 1%;
    color: #75787B
  }

  .wlabel{
    background-color: 'lightgrey';
    min-width: 375px;
    max-width: 375px;
    display:block;
    flex-direction: column;
    padding-top: 2%;
    text-align: left;
    font-weight: bold;
  }

  div.Loading{
    display: flex;
    direction: row;
  }

  .spinner{
    height: 500px;
    width:800px;
    background-color: black;
    
  }

  .output{
    display: flex;
    direction: row;
  }