.react-tabs{
    font-size: calc(7px + 2vmin);
    font-family: "Georgia", Times, serif;;
    color: #75787B;
    margin-top: 3%;
}
.react-tabs__tab{
    background-color:#E5E1E6;

}
.react-tabs__tab--selected {
    background: #E5E1E6;
    border-color: #aaa;
    color:  #861F41;
    border-radius: 5px 5px 0 0;
}

.react-tabs__tab-list {
    padding-bottom: 1px;
}
.user-select-none-svg-container{
    height:100%
}

.tabs_container{
    width: 100vw;
    height: 100%;
    padding-bottom: 2px;
    margin-left: 1%;
    margin-bottom:3%
}

.MuiFormControlLabel-root{
    max-height: 25px;
}

.MuiTypography-body1{
    font-size:14px !important
}

.MuiSvgIcon-root{
    height: 15px !important;
    width: 15px !important;
    fill: #861F41 !important
}